<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lazy Set Game</title>
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    </head>
    <style type="text/css">
      img {
        image-orientation: from-image;
        margin: 20px;
      }
    </style>

    <body>
        <div class="container">
            <ul class = "nav nav-tabs">
                <li><a href = "{{ url_for('main') }}">Home</a></li>
                <li><a href = "{{ url_for('rules') }}">Directions</a></li>
                <li><a href = "http://www.setgame.com/sites/default/files/instructions/SET%20INSTRUCTIONS%20-%20ENGLISH.pdf">Game Rules</a></li>
            </ul>
            {% block matter %}
            {% endblock matter %}
        </div>
    </body>
</html>
