{% extends "base.html" %}

{% block matter %}
        <form action ="/solve" method="post" enctype="multipart/form-data">
            <img src="http://www.setgame.com/sites/default/files/set-logo-sq.jpg">
            <p>Upload a game in progress image and see all possible sets</p>
            <p>
                <label for="file">File (must be JPEG or PNG)</label>
                <input type="file" name="file">
                <label for="numOfCards">Number of cards in image</label>
                <input type="text" name="numOfCards">
                <div class="text-danger">{{ error }}</div>
                <button class="btn btn-lg btn-success">
                    Find Sets
                </button>
            </p>
        </form>
{% endblock matter %}
