<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lazy Set Game</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Set Game App</h1>

        <form action ="/solve" method="post">
            <p>Click the button below to get all possible sets of this image</p>
            <img src="../testimage5.jpg">
            <p>
                <label for="inputName">Name</label>
                <input type="name" name="inputName"
                      class="form-control" autofocus>
                <button class="btn btn-lg btn-success">
                    Say hello
                </button>
            </p>
        </form>
    </div>
</body>
