{% extends "base.html" %}

{% block matter %}
    <div class="row vertical-center-row">
        <img class="center-block img-responsive" src="{{ file }}" width="400" height="400"/>
        <br>
        <p class="text-center"><strong>{{ found }} sets were found in this image</strong></p>
    </div>
    {% for set in sets_images %}
        <p class="text-center">
          {% for i in set %}
              <img src="{{ url_for('static', filename='testcards/'+i) }}" width="75" height="100"/>
          {% endfor %}
        </p>
    {% endfor %}
{% endblock matter %}
